html, body{
  width: 100%;
}

.editais img{
  display: none;
}


.editais div {
  margin-top: 1rem;
  margin-left: -5rem;
}

.editais h1 {
  color: rgba(251, 108, 4, 0.88);
  text-align: center;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  font-family: "Source Sans Pro", monospace;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  width: 450px;
  padding-left: 1rem;
}

.spanText {
  color: #3F3F3F;
  font-family: "Source Code Variable", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.spanText2 {
  color: #3F3F3F;
  font-family: "Source Code Variable", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.editais p {
  color: #000;
  text-align: left;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  font-family: "Source Sans Pro", monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 450px;
  padding-left: 6rem; 
  padding-top: 1rem;
 
}

.editalContent{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.editalCard1{
  padding-bottom: 2rem;
}

.editalCard1 img, .editalCard2 img{

  width: 300px;
}



.agenda{
  display: flex;
  justify-content: center;
  margin-top: 12rem;
}

.agendaS1{
  color: #FB6C04;
text-align: center;
font-family: "Source Sans Pro", monospace;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: normal;
}



.agendaTitle{
  color: #2A2A2A;
font-family: "Source Code Variable", sans-serif;
font-size: 45px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-align: center;
padding-bottom: 2rem;

}

.agendaS2{
  color: #3F3F3F;
  font-family: "Source Code Variable", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

.agendaCard{
  display: flex;
  justify-content: center;
  align-items: center;
}

.videos {
  display: flex;
 justify-content: center;
 align-items: center;
  width: 100%;
  /* padding-top: 56.25%; */
  height: 470px;

}

.videos iframe {
 
  width: 90%;
  height: 465px;
  margin: 0 auto;
}

.title {
  color: rgba(251, 108, 4, 0.88);
text-align: center;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  font-family: "Source Sans Pro", monospace;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 2rem;
  width: 90%;
  text-align: left;
  padding-left: 1em;
  padding-bottom: 1rem;
}

.imgDesk {
  display: none;
  
}

.imgMb{
  display: flex;
  margin: 0 auto;
}

@media screen and (max-width:425px) {
  .editais img{
    display: none;
  }

  .editais div{
    width: 100%;
    margin-left: 0;
   
  }

  .editais h1, .spanText, .spanText2{
    width: 100%;
    padding-right: 0.5em;
    font-size: 44px !important;
   }

   .editais h1, .spanText, .spanText2{
    width: 100%;
    padding-right: 0.5em;
   }

   .editais p{
    width: 90% !important;
    padding-left: 2rem !important;
   }


}

/*Exclusivo pra iphone 14 plus*/
@media  (min-width:428px) and (max-width: 430px) {

  .editais div{
    width: 100%;
    margin: 2rem auto;
  }

  .editais h1, .spanText,.spanText2 {
    font-size: 40px !important;
     width: 100%;
     
   }

   .editais p{
    padding-left: 1em;
    width: 95%;
   }

}


/*TABLET*/
@media screen and (min-width:431px) and (max-width:768px){
 
  .editais{
    height: 761px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2rem;
  }

  .editais img{
    display:none;
    width: 238px;
    height: 385px;
  }

  .editais  div{
    margin-top: 0;
    margin-left: -2rem;
  }


  .editais h1, .spanText,.spanText2 {
   font-size: 44px !important;
    width: 100%;
    
  }

  /* .editais h1{
    font-size: 40px;
  }

  .spanText,.spanText2{
    font-size: 34px;
  } */

  .editais p {
    width: 90%;
    font-size: 21px;
  }

  .editalContent{
    margin-top: 10rem;
  }

  .editalCard1 img, .editalCard2 img{

    width: 500px;
  }

  .agendaCard, .card{
    width: 100%;
  }

  .videos{
    width: 100%;
  }

  .videos iframe{
    width: 100%;
  }


}


@media screen and (min-width:769px) and (max-width:1440px){

  .editais {
    background-image: url('assets/vetor1.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 761px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -6rem;
    margin-left: 2rem;
       }
  
    .editais img {
      display: flex;
      width: 238px;
      height: 305px;
    
    }

    .editais div {
      margin-top: -1rem;
      margin-left: -5rem;
    }
    
    
.editais h1 {
  width: 100%;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  padding-left: -10rem;
  margin-top: 14rem;
}

  .spanText {
    
    font-size: 44px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  
  .spanText2 {
  
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .editais p {
    color: #000;
    text-align: left;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    font-family: "Source Sans Pro", monospace;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 1009px;
    padding-left: 9rem;
   
  }

  


.editalContent {
  display: flex;
  flex-direction: row;
  /* margin-top: 6rem; */
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.editalCard1{
  padding-bottom: 0;
}

.editalCard1 img, .editalCard2 img{

  width: 500px;
}


.agenda{
  padding-bottom: 4rem;
}


.title, .titleSpan, .titleSpan2{
  font: 10px;
  padding-left: 0.5rem;
  text-align: center;
  
  width: 100%;
 

}


.agendaCard{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.card{
  border: none;
}

.videos {
  display: flex;
 justify-content: center;
 align-items: center;
  width: 100%;
  /* padding-top: 56.25%; */
  height: 470px;

}

.videos iframe {
 
  width: 100%;
  height: 465px;
  margin: 0 auto;
}

  
  .imgDesk{
    display: flex;
    margin:  0 auto;
  }
  
  .imgMb{
    display: none;
    
  }
}

/*Grandes telas*/
@media screen and (min-width:1441px) and (max-width:1920px){

  .editais {
    background-image: url('assets/vetor1.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 761px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  
  }

  .editais img {
    display: flex;
    width: 238px;
    height: 305px;
  
  }

  .editais div {
    margin-top: 5rem;
    margin-left: -5rem;
  }

  .editais h1, .spanText, .spanText2{
    width: 100%;
  }

  .editais h1{
    font-size: 50px;
  font-style: normal;
  font-weight: 600;
  }

  .spanText, .spanText2{
    font-size: 44px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .editais  p{
    font-size: 20px;
    width: 900px;
   }

   

.editalContent {
  display: flex;
  flex-direction: row;
  /* margin-top: 6rem; */
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.editalCard1{
  padding-bottom: 0;
}

.editalCard1 img, .editalCard2 img{

  width: 500px;
}


.agenda{
  padding-bottom: 4rem;
}


.title, .titleSpan, .titleSpan2{
  font: 10px;
  padding-left: 0.5rem;
  text-align: center;
  
  width: 100%;
 

}


.agendaCard{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.card{
  border: none;
}

.videos {
  display: flex;
 justify-content: center;
 align-items: center;
  width: 100%;
  /* padding-top: 56.25%; */
  height: 470px;

}

.videos iframe {
 
  width: 100%;
  height: 465px;
  margin: 0 auto;
}

  
  .imgDesk{
    display: flex;
    margin:  0 auto;
  }
  
  .imgMb{
    display: none;
    
  }

   .imgDesk{
    display: flex;
    margin:  0 auto;
  }
  
  .imgMb{
    display: none;
    
  }

}