html, body{
  width: 100%;
}


.formacao img{
  display: none;
}

.formacao div {
  margin-top: 1rem;
  margin-left: -5rem;
}

.formacao h1 {
  color: rgba(251, 108, 4, 0.88);
  text-align: center;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  font-family: "Source Sans Pro", monospace;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  width: 450px;
  padding-left: 8rem;
}

.spanText {
  color: #3F3F3F;
  font-family: "Source Code Variable", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.spanText2 {
  color: #3F3F3F;
  font-family: "Source Code Variable", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.formacao p {
  color: #000;
  text-align: left;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  font-family: "Source Sans Pro", monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 450px;
  padding-left: 6rem; 
  padding-top: 1rem;
 
}

.bolsistasTitle {

  color: #2A2A2A;
  text-align: center;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  font-family: "Source Code Variable", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.bolsistasSpan1 {
  color: rgba(251, 108, 4, 0.88);
  text-align: center;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  font-family: "Source Sans Pro", monospace;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.bolsistasSpan2 {
  color: #2A2A2A;
  font-family: "Source Code Variable", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}


.bolsas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 2rem;
  margin: 5rem auto;
  max-width: calc(2 * 585px + 2rem);
}

.card {
  border: none;
  padding: 1rem;
  margin-bottom: 2rem;
  background: #fff;
}

.cardBolsa,
.cardBolsa2 {
  background: #2A2A2A;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 421px;
}

.cardBolsa {
  background-image: url('assets/Group 7.png');
}

.cardBolsa2 {
  background-image: url('assets/Group 8.png');
}

.cardBolsa img,
.cardBolsa2 img {
  width: 317px;
  height: 368px;
}

.card p {
  color: #000;
  font-family: "Source Code Variable", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  padding-top: 1rem;
}

.cardSpan {
  color: #FB6C04;
  font-family: "Source Code Pro", monospace;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.formContact {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 539px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.formContact h3 {
  /* width: 500px; */
  color: #FB6C04;
  text-align: center;
  font-family: "Source Sans Pro", monospace;
  font-size:58;
  font-style: normal;
  font-weight: 600;
  line-height: normal;


}

.formContact p {
  color: #2A2A2A;
  font-family: "Source Code Variable", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;

}

.formContact span {
  color: #2A2A2A;
  font-family: "Source Code Variable", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}



.group {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  background: rgba(63, 63, 63, 0.00);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 60px;
}



.group input {
  background: transparent;
  outline: none;
  height: 56px;
  width: 159px;
  border: none;
  outline: none;
  padding: 1rem;
  color: #2A2A2A;

}



#groupBtn {
  background-color: #5C0CCB;
  height: 60px;
  width: 159px;
  border: none;
  outline: none;
}

.imgDesk {
  display: none;
  
}

.imgMb{
  display: flex;
  margin: 0 auto;
}

/*TABLET*/
@media screen and (min-width:426px) and (max-width:768px){
 
  .formacao{
    height: 761px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2rem;
  }

  .formacao img{
    display: flex;
    width: 238px;
    height: 385px;
  }

  .formacao  div{
    margin-top: 0;
    margin-left: -5rem;
  }


  .formacao h1, .spanText,.spanText2 {
   
    width: 100%;
    
  }

  .formacao h1{
    font-size: 40px;
  }

  .spanText,.spanText2{
    font-size: 34px;
  }

  .formacao p {
    width: 90%;
    font-size: 21px;
  }


}

@media screen and (min-width:769px) and (max-width:1440px){

  .formacao {
    background-image: url('assets/vetor1.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 761px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -6rem;
    margin-left: 2rem;
    }
  
    .formacao img {
      display: flex;
      width: 238px;
      height: 305px;
    
    }

    .formacao div {
      margin-top: -1rem;
      margin-left: -5rem;
    }
    
.formacao h1 {
  width: 100%;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
text-align: left;
padding-left: -6rem;

}

  .spanText {
    
    font-size: 44px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  
  .spanText2 {
  
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .formacao p {
    color: #000;
    text-align: left;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    font-family: "Source Sans Pro";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 1009px;
    padding-left: 8rem;
    padding-top: 10px;
  }
  
  .imgDesk{
    display: flex;
    margin:  0 auto;
  }
  
  .imgMb{
    display: none;
    
  }
}

/*Grandes telas*/
@media screen and (min-width:1441px) and (max-width:1920px){

  .formacao {
    background-image: url('assets/vetor1.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 761px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  
  }

  .formacao img {
    display: flex;
    width: 238px;
    height: 305px;
  
  }

  .formacao div {
    margin-top: -5rem;
    margin-left: -5rem;
    
  }

  .formacao h1, .spanText, .spanText2{
    width: 100%;
  }

  .formacao h1{
    font-size: 50px;
  font-style: normal;
  font-weight: 600;
  }

  .spanText, .spanText2{
    font-size: 44px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .formacao  p{
    font-size: 20px;
    width: 900px;
    margin-left: 2rem;
   }

   .group{
    width: 550px;
   }

   .group input{
   
      width: 100%;
   }

   #contactForm2{
    padding-top: 2rem;
   }

   .imgDesk{
    display: flex;
    margin:  0 auto;
  }
  
  .imgMb{
    display: none;
    
  }

}
