.navbar {
  background: rgba(0, 0, 0, 0.86);
  width: 100%;

}


.navLogo img {
  width: 32px;
  height: 42px;
}

.navLogo {
  color: rgba(251, 108, 4, 0.88);
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 800;
}

.nav-link {
  color: #FFF;
  font-family: "Source Code Variable", monospace;
  font-size: 16px;
  font-weight: 500;
}

.nav-link:hover {
  color: rgba(251, 108, 4, 0.88);
}

.navbar-toggler {
  border-color: rgba(251, 108, 4, 0.88);
}

.navbar-toggler-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent !important;
}

.navbar-toggler:hover{
  border-color: rgba(251, 108, 4, 0.88);
  background: none;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: start;
  margin-left:  1rem;
}


/*Resposividade*/


@media screen and (min-width:426px) and (max-width:768px) {

  .navbar{
   width: 100%;
   
  }
  
}


@media screen and (min-width:769px) and (max-width:1440px){
  
  .navbar{
    width: 100%;
     }

     .navbar-collapse{
      justify-content: flex-end;
  
    }

}


@media screen and (min-width:1441px) and (max-width:1920px){

  .navbar{
    width: 100%;
    
  }

  .navbar-collapse{
    justify-content: flex-end;

  }


}