.selo{
  display: none;
}

.quem{
  height: 761px;
  display: flex;
  justify-content: center;
    width: 390px;
    margin-top: 3rem;
    text-align: center;
}

.quem h1{
  color: rgba(251, 108, 4, 0.88);
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: "Source Sans Pro";
font-size: 33px;
font-style: normal;
font-weight: 600;
width: 390px;
margin: 0 auto;
}

.spanText{
  color: #3F3F3F;
font-family: "Source Code Variable";
font-size: 33px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.spanText2{
  color: #3F3F3F;
font-family: "Source Code Variable";
font-size: 33px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.quem p{
  color: #000;
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: "Source Sans Pro";
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 390px;

padding-top: 45px;
}

.mercurio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -20rem;
}

.poc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  width: 100%;
}

.mercurio img{
  width: 100%;
}

.mercurio h2, .poc h2{
  color: #FB6C04;
  text-align: center;
  font-family: "Source Code Variable";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 2rem;
  width: 350px;
}

.mercurio span, .poc span{
  color: #000;
font-family: "Source Code Pro";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.mercurio p, .poc p{
  color: #000;
font-family: "Source Sans Pro";
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 300px;
padding-top: 1rem;
text-align: center;
}

.infoDesk{
  display: none;
}

.information{

  height: 360px;
}

.infoMobile{
  display: flex;
  width: 100%;
  justify-content: center;
}

.infoMobile img{
  width: 100%;
}

.imgDesk{
  display: none;
}


.imgMb{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/*Tablet*/
@media screen and (min-width:426px) and (max-width:768px){
  .quem{
    height: 761px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .selo{
    display: flex;
    width: 238px;
    height: 385px;
  }


  .mercurio h2, .poc h2, .mercurio span, .poc span,.mercurio p, .poc p{
    width: 90%;
  }

  .infoMobile{
    display: none;
  }

  .infoDesk{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    width: 767px;
  }

 
.information{
  margin-top: 5rem;
  background-image: url('assets/bgRoxo.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 767px;
  height: 383px;
  margin: 5rem auto;

}

.information p{
  color: #000;
  color: #FFF;
padding-right: 3rem;
text-align: right;
font-family: "Source Code Variable";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 450px;
  
}
.information a{
  text-decoration: none;
}

.spanP1{
  color: #FB6C04;
font-family: "Source Code Variable";
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration-line: underline;
}

.spanP2{
  color: #FFF;
font-family: "Source Code Variable";
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-decoration-line: underline;
}  
  
   
 .infoDesk img{
  width: 193px;
  height: 247px;
 }
   
  
}


/*PC tela pequena*/
@media screen and (min-width:769px) and (max-width:1440px){
  .quem{
    background-image: url('assets/vetor1.png');
    background-repeat: no-repeat;
    background-position: right top;
    height: 761px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 5rem;
  
  }

  
.quem img{
  display: flex;
  width: 238px;
height: 305px;

}

.quem div{
  margin-top: -3rem;
  margin-left: -5rem;
}

.quem h1{
  color: rgba(251, 108, 4, 0.88);
width: 100%;
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: "Source Sans Pro";
font-size: 50px;
font-style: normal;
font-weight: 600;
padding-left: 5rem;
padding-top: 3rem;
}

.spanText{
  color: #3F3F3F;
font-family: "Source Code Variable";
font-size: 44px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.spanText2{
  color: #3F3F3F;
font-family: "Source Code Variable";
font-size: 44px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.quem p{
  color: #000;
text-align: left;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: "Source Sans Pro";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 900px;
padding-left: 6rem;
padding-top: 45px;
}

.mercurio{
  margin-top: 5rem;
  background-image: url('assets/vetor2.png');
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.poc{
  background-image: url('assets/vetor3.png');
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  width: 100%;
}

.mercurio h2, .poc h2{
  color: #FB6C04;
  text-align: center;
  font-family: "Source Code Variable";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 2rem;
  width: 100%;
}

.mercurio span, .poc span{
  color: #000;
font-family: "Source Code Pro";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.mercurio p, .poc p{
  color: #000;
font-family: "Source Sans Pro";
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 1098px;
padding-top: 1rem;
text-align: center;
}

.infoMobile{
  display: none;
}

.infoDesk{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  margin: 0 auto;
  gap: 80px;
 
}


.information{
margin-top: 5rem;
background-image: url('assets/bgRoxo.png');
background-repeat: no-repeat;
background-size: cover;
width: 90%;
height: 353px;
margin: 5rem auto;


}

.information p{
color: #000;
color: #FFF;
text-align: right;
font-family: "Source Code Variable";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 717px;

}
.information a{
text-decoration: none;
}

.spanP1{
color: #FB6C04;
font-family: "Source Code Variable";
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration-line: underline;
}

.spanP2{
color: #FFF;
font-family: "Source Code Variable";
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-decoration-line: underline;
} 


 
.infoDesk img{
  display: flex;
width: 193px;
height: 247px;
}

.patrocinio{
  height: 252px;
}

.imgMb{
  display: none;
}

.imgDesk{
  display: flex;
  margin: 0 auto;
}
 

}

/*Grandes telas*/
@media screen and (min-width:1441px) and (max-width:1920px){

  .quem{
    background-image: url('assets/vetor1.png');
    background-repeat: no-repeat;
    background-position: right top;
    height: 761px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 190px;
  
  }
  .quem img{
    display: flex;
    width: 238px;
  height: 305px;
  
  }

  
.quem div{
  
  margin-left: -5rem;
}

.quem h1{
  color: rgba(251, 108, 4, 0.88);
width: 100%;
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: "Source Sans Pro";
font-size: 50px;
font-style: normal;
font-weight: 600;
}

.spanText{
  color: #3F3F3F;
font-family: "Source Code Variable";
font-size: 44px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.spanText2{
  color: #3F3F3F;
font-family: "Source Code Variable";
font-size: 44px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.quem p{
  color: #000;
text-align: left;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: "Source Sans Pro";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 1009px;
padding-left: 6rem;
padding-top: 45px;
}


.mercurio{
  background-image: url('assets/vetor2.png');
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.poc{
  background-image: url('assets/vetor3.png');
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  width: 100%;
}

.mercurio h2, .poc h2{
  color: #FB6C04;
  text-align: center;
  font-family: "Source Code Variable";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 2rem;
  width: 100%;
}

.mercurio span, .poc span{
  color: #000;
font-family: "Source Code Pro";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.mercurio p, .poc p{
  color: #000;
font-family: "Source Sans Pro";
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 1098px;
padding-top: 1rem;
text-align: center;
}

.infoMobile{
  display: none;
}

.infoDesk{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  margin: 0 auto;
  gap: 80px;
 
}


.information{
margin-top: 5rem;
background-image: url('assets/bgRoxo.png');
background-repeat: no-repeat;
background-size: cover;
width: 90%;
height: 353px;
margin: 5rem auto;


}

.information p{
color: #000;
color: #FFF;
text-align: right;
font-family: "Source Code Variable";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 800px;

}
.information a{
text-decoration: none;
}

.spanP1{
color: #FB6C04;
font-family: "Source Code Variable";
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration-line: underline;
}

.spanP2{
color: #FFF;
font-family: "Source Code Variable";
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-decoration-line: underline;
} 


 
.infoDesk img{
  display: flex;
width: 193px;
height: 247px;
}

.patrocinio{
  height: 252px;
}

.imgMb{
  display: none;
}

.imgDesk{
  display: flex;
  margin: 0 auto;
}

}