@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  
}

@font-face {
  font-family: 'MinhaFonte';
  src: url('./fonts/MinhaFonte.woff2') format('woff2'),
       url('./fonts/MinhaFonte.woff') format('woff'),
       url('./fonts/MinhaFonte.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MinhaFonte', sans-serif;
}

html, body {
	max-width: 100%;
	height: 100%;
  overflow-x:hidden;
}

/*estilo do scroll*/
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background:  #2A2A2A;       /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color:rgba(251, 108, 4, 0.88); 
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 4px solid  rgba(251, 108, 4, 0.88); /* creates padding around scroll thumb */
}

/**/

/* Estilos Gerais */
.footer {
  background: #2A2A2A;
  color: #fff;
  padding: 20px 0;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-column {
  margin-bottom: 20px;
  width: 100%;
}

.footer-column h3 {
  font-family: "Source Sans Pro";
  font-size: 24px;
  font-weight: 700;
  color: #FB6C04;
  padding-top: 20px;
  padding-left: 2rem;
}

.footer-link {
  padding-top: 1rem;
}

.footer-link a {
  text-decoration: none;
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.info {
  color: #FFF;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 0.5rem;
  width: 90%;
  margin: 0 auto;
}

.info span {
  color: #FB6C04;
  font-size: 28px;
}

#infospan {
  color: #FFF;
  font-family: "Source Code Variable";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.list {
  width: 180px;
  display: flex;
  flex-direction: column;
}

.list2 {
  width: 300px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.form-group {
  align-items: center;
  padding: 0.5rem 0 0 2rem;
  width: 100%;
}

.form input,
.form textarea {
  border: none;
  outline: none;
  background: #FFF;
  color: rgba(63, 63, 63, 0.65);
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 400;
  padding: 0.5em;
  width: 90%;
}

.form-group button {
  width: 150px;
  height: 43px;
  justify-content: center;
  border: none;
}

#buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

button:hover {
  background-color: #5C0CCB;
  color: #FFF;
}

#formResponse {
  text-align: center;
  padding: 1em;
  color: #28a745; /* verde para sucesso */
}

.footer-column-right {
  display: none;
}

#copyright {
  background: #2A2A2A;
}

#copyright p {
  font-size: 12px;
  text-align: center;
  padding-top: 2rem;
}

/* Tablets */
@media screen and (min-width: 426px) and (max-width: 768px) {

  footer{
    width: 100%;
  }
  .footer-container {
    flex-direction: column;
align-items: flex-start;
  }

  .footer-column {
    width: 48%;
    margin-bottom: 20px;
  }

  .form-group {
    display: grid;
    width: 100%;
    justify-content: flex-start;
    margin-top: 2rem;
  }

  .form-group input,
  .form-group textarea {
    width: 500px;
  }

  #copyright p {
    padding-top: 1rem;
  }
}

/*PC tela pequena*/
/* Tablets */
@media screen and (min-width: 769px) and (max-width: 1440px) {
  .footer {
    height: 769px;
    width: 100%;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 1rem;
    align-items: stretch;
    margin-top: 5rem;
    max-width: 1440px;
  }

  .info span {
    color: #FB6C04;
    font-family: "Source Sans Pro";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
  }

  #infospan {
    color: #FFF;
    font-family: "Source Code Variable";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info p {
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    width: 667px;
    text-align: center;
    padding-top: 4rem;
  }

  #col2 {
    margin-left: -25rem;
  }

  .form {
    width: 100%;
  }

  .footer-column {
    justify-content: flex-start;
  }

  .footer-column h3,
  .footer-column span {
    display: flex;
    text-align: center;
    font-size: 36px;
    margin: 0 auto;
    width: 100%;
    margin-left: 2rem;
  }

  .contatoSpan {
    color: #FFF;
    font-family: "Source Code Variable";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .form input {
    border: none;
    outline: none;
    background: #FFF;
    width: 456px;
    height: 50px;
    color: rgba(63, 63, 63, 0.65);
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    padding: 0.5em;
  }

  .form textarea {
    border: none;
    outline: none;
    width: 456px;
    height: 100px;
    background: #FFF;
    color: rgba(63, 63, 63, 0.65);
    padding: 0.5em;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
  }

  .form-group {
    padding-top: 0.9em;
  }

  .form-group button {
    width: 150px;
    height: 43px;
    justify-content: flex-end;
    border: none;
  }

  #buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  button:hover {
    background-color: #5c0ccb;
    color: #fff;
  }

  #formResponse {
    text-align: center;
    padding: 1em;
    color: #28a745; /* verde para sucesso */
  }

  .footer-column-right {
    display: flex;
    justify-self: end;
    /* Alinha à direita */
    margin-top: 2rem;
  }
}

/*Grandes telas*/
@media screen and (min-width:1441px) {

  .footer {
    height: auto;
    width: 100%;
  }

  .footer-container {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 10.9rem;
    max-width: 100%;
    flex-wrap: nowrap;
    margin-top: 5rem;
  }

  .footer-column {
   margin-top: 2rem;
    width: 22%; /* Ajuste conforme necessário */
    justify-self: start;
  }

  .footer-column-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
    margin-right: -10rem;
  }

  .footer-column h3{
    font-size: 30px;
  
  }

  .footer-link a {
    font-size: 20px; 
    width: 100%;
  }

  .info{
    margin-top: 5rem;
    width: 500px;
  }

  #col2{
   margin-left: -15rem;
  }

  #col2 a{
    width: 500px;
  }

  .form-group input,
  .form-group textarea {
    width:450px;
  }

  #formResponse {
    text-align: center;
    padding: 1em;
    color: #28a745; /* verde para sucesso */
  }

  #copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }

  #copyright p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    font-family: "Be Vietnam Pro", sans-serif;
  }
}

