@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "MinhaFonte", sans-serif;
}

html,
body {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/*estilo do scroll*/
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #2a2a2a; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(251, 108, 4, 0.88);
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 4px solid rgba(251, 108, 4, 0.88); /* creates padding around scroll thumb */
}

/**/

/* Estilos Gerais */
.footer {
  background: #2a2a2a;
  color: #fff;
  /* padding: 20px 0; */
  padding: 2rem;
  width: 100%;
  position: relative;
  bottom: 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-column {
  /* margin-bottom: 20px; */
  width: 100%;
}

.footer-column h3 {
  font-family: "Source Sans Pro";
  font-size: 24px;
  font-weight: 700;
  color: #fb6c04;
  /* padding-top: 20px; */
  /* padding-left: 2rem; */
}

.footer-link {
  /* padding-top: 1rem; */
}

.footer-link a {
  text-decoration: none;
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.info {
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 0.5rem;
  width: 90%;
  margin: 0 auto;
}

.info span {
  color: #fb6c04;
  font-size: 28px;
}

#infospan {
  color: #fff;
  font-family: "Source Code Variable";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.list {
  /* width: 180px; */
  display: flex;
  flex-direction: column;
}

.list2 {
  /* width: 300px; */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* align-items: center; */
  /* padding: 0.5rem; */
  width: 100%;
}

.form input,
.form textarea {
  /* border: none;
  outline: none;
  background: #fff;
  color: rgba(63, 63, 63, 0.65);
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 400;
  padding: 0.5em;
  width: 90%; */
}

.form-group button {
  /* width: 150px;
  height: 43px;
  justify-content: center;
  border: none; */
}

#buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

button:hover {
  background-color: #5c0ccb;
  color: #fff;
}

#formResponse {
  text-align: center;
  padding: 1em;
  color: #28a745; /* verde para sucesso */
}

.footer-column-right {
  /* display: none; */
}

.logo-position {
  position: absolute;
  right: -35px;
}

#copyright {
  background: #2a2a2a;
}

#copyright p {
  font-size: 12px;
  text-align: center;
  padding-top: 2rem;
}

/* Tablets */
@media screen and (min-width: 426px) and (max-width: 768px) {
  footer {
    width: 100%;
  }
  .footer-container {
    flex-direction: column;
    /* align-items: flex-start; */
  }

  .footer-column {
    /* width: 20%; */
    /* margin-bottom: 20px; */
  }

  .form-group {
    /* display: grid;
    width: 100%;
    justify-content: flex-start;
    margin-top: 2rem; */
  }

  .form-group input,
  .form-group textarea {
    /* width: 500px; */
  }

  #copyright p {
    /* padding-top: 1rem; */
  }
}

/*PC tela pequena*/

.footer {
  height: auto;
  width: 100%;
}

.footer-container {
  /* display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 10.9rem;
  max-width: 100%;
  flex-wrap: nowrap;
  margin-top: 5rem; */
}

.footer-column {
  /* margin-top: 2rem; */
  /* width: 22%; */
  /* Ajuste conforme necessário */
  /* justify-self: start; */
}

.footer-column-right {
  /* display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2rem;
  margin-right: -10rem; */
}

.footer-column h3 {
  font-size: 30px;
}

.footer-link a {
  font-size: 20px;
  width: 100%;
}

.info {
  /* margin-top: 5rem;
  width: 500px; */
}

/* #col2 {
  margin-left: -30rem;
}

#col2 a {
  width: 500px;
} */

.form-group input,
.form-group textarea {
  /* width: 450px; */
}

#formResponse {
  text-align: center;
  padding: 1em;
  color: #28a745; /* verde para sucesso */
}

#copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

#copyright p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  font-family: "Be Vietnam Pro", sans-serif;
}

/*Grandes telas*/
@media screen and (min-width: 1441px) {
  .footer {
    height: auto;
    width: 100%;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    /* padding-left: 1rem; */
    /* padding-right: 10.9rem; */
    max-width: 100%;
    /* flex-wrap: nowrap; */
    /* margin-top: 5rem; */
  }

  .footer-column {
    /* margin-top: 2rem; */
    width: 100%;
    /* Ajuste conforme necessário */
    /* justify-self: start; */
    flex: 1;
  }

  .footer-column-right {
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: center; */
    /* margin-top: 2rem; */
    /* margin-right: -10rem; */
    position: relative;
  }

  .footer-column h3 {
    font-size: 30px;
  }

  .footer-link a {
    font-size: 20px;
    width: 100%;
  }

  .info {
    /* margin-top: 5rem;
    width: 500px; */
  }

  /* #col2 {
    margin-left: -15rem;
  }

  #col2 a {
    width: 500px;
  } */

  /* .form-group input,
  .form-group textarea {
    width: 450px;
  } */

  #formResponse {
    text-align: center;
    /* padding: 1em; */
    color: #28a745; /* verde para sucesso */
  }

  #copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }

  #copyright p {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    font-family: "Be Vietnam Pro", sans-serif;
  }
}
