.criacao {
  background: rgba(0, 0, 0, 0.86);
  background-image: url('assets/bgMobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  width: 100%;

}

.criacao h1 {
  display: none;
  color: #FB6C04;
  font-family: "Source Code Pro";
  font-size: 145px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 15rem;
  padding-left: 0.5em;
}

#h1mb {
  display: flex;
  font-size: 70px;
  padding-left: 0.2em;
  font-weight: 800;
  width: 252px;
}

.criacao h2 {
  color: #FFF;
  font-family: Source Sans Pro ExtraLight, sans-serif;
  font-size: 50px;
  padding-left: 0.2em;
}

.criacao p {
  color: #FFF;
  font-family: "Source Code Variable";
  font-size: 20px;
  padding-left: 0.2em;
  font-weight: 500;
  width: 345px;
  padding-left: 0.5em;
  height: 100px;
}

.bemvindo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 900px;
  padding: 1rem;
  width: 100%;
}

.bemvindo h3 {
  color: #000;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Source Sans Pro";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 1203px;
}

.span1 {
  color: rgba(251, 108, 4, 0.88);
  font-family: "Source Sans Pro";
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.span2 {
  color: #2A2A2A;
  font-family: "Source Code Variable";
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.iniciativas {
  background-image: url('assets/BGs Territórios de Craição-04 3.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 612px;
  width: 100%;
}

.iniciativas p {
  display: none;
  color: #FFF;
  font-family: "Source Sans Pro";
  font-size: 40px;
  font-weight: 600;
  padding-top: 70px;
   text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  /* Permite que os cards quebrem linha */
  justify-content: space-around;
  /* Centraliza os cards horizontalmente */


}

.iniciativa1 {
  color: #FB6C04;
}

.iniciativa2 {
  color: white;
  font-size: 40px;
  font-family: Source Code Variable;
  font-weight: 300;
}

.card-link img {
  width: 147px;
  height: 205px;;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-link:hover img {
  transform: scale(1.1);
  /* Aumenta ligeiramente a imagem no hover */
  transform: translateY(-5px);
  /* Move o card para cima */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Adiciona uma sombra mais pronunciada */
}

.imgDesk{
  display: none;

}

.imgMb{
  display: flex;
  margin: 0 auto;
}






/*Tablet*/
@media screen and (min-width:426px) and (max-width:768px){

  .criacao{
    background-image: url('assets/bgIndex.png'); 
    background-repeat: no-repeat;
    padding-left: 2rem;

  }

  
  #h1mb{
    display: none;
  }

  .criacao h1{
    display: flex;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top:17rem;
    padding-left: 0;
    
  }

  .iniciativas p {
    display: flex;
    color: #FFF;
    font-family: "Source Sans Pro";
  
  }

  .iniciativa1 {
    color: #FB6C04;
  }
  
  .iniciativa2 {
    color: white;
    font-size: 40px;
    font-family: Source Code Variable;
    font-weight: 300;
  }



  

}


/*PC tela pequena*/
@media screen and (min-width:769px) and (max-width:1440px){

  .criacao{
    background-image: url('assets/bgIndex.png'); 
    padding-left: 3rem;
    padding-top: 5rem;
  }
  #h1mb{
    display: none;
  }

  .criacao h1{
    display: flex;
    font-size: 100px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top:17rem;
    padding-left: 0;
    
  }

  .bemvindo{
    width: 100%;
  }

  .iniciativas{
    background-image: url('assets/bgIniciativas.png');
    width: 100%;
    height: 500px;
    margin: 0 auto;
    justify-content: center;
  }

  
.iniciativas p {
  display: flex;
  color: #FFF;
  font-family: "Source Sans Pro";
  text-align: center;
  /* padding-top: 2rem; */
  margin-left: 2rem;
  width: 700px;
  

}

  .iniciativa1 {
    color: #FB6C04;
  }
  
  .iniciativa2 {
    color: white;
    font-size: 40px;
    font-family: Source Code Variable;
    font-weight: 300;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* Permite que os cards quebrem linha */
    /* justify-content: space-around; */
    /* Centraliza os cards horizontalmente */
    height: 800px;
    width: 90%;
  }

  .card-link img{
    width: 100%;

}

  .card-link img{
    width: 90%;
  }

  .patrocinio{
    display: flex;
    width: 100%;
  }

  .imgDesk{
    display:flex;
  
  }
  
  .imgMb{
    display:none;

  }

}

/*Grandes telas*/

@media screen and (min-width:1441px) and (max-width:2000px){

  .criacao{
    background-image: url('assets/bgLarge.png');
    height: 1080px;
  
  }

  #h1mb{
    display: none;
  }

  .criacao h1{
    display: flex;
    font-size: 145px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 20rem;
    padding-left: 0.5em;
  }

  .criacao h2 {
    color: #FFF;
    font-family: Source Sans Pro ExtraLight, sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    padding-left: 0.8em;
  }

  .criacao p {
    color: #FFF;
    font-family: "Source Code Variable";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 550px;
    height: 526px;
    padding-top: 1em;
    padding-left: 2.5em;
  }

  .iniciativas{
    background-image: url('assets/bgIniciativas.png');
    
  }

  .iniciativas p {
    display: block;
    /* flex-direction: column; */
    color: #FFF;
    font-family: "Source Sans Pro";
    padding-top: 5rem;
    width: 870px;
    text-align: center !important;
  }


  .iniciativa1 {
   
    color: #FB6C04;
  }
  
  .iniciativa2 {
    
    color: white !important;
    font-size: 40px;
    font-family: Source Code Variable;
    font-weight: 300;
  }

  .cards {
    display: flex;
    justify-content: space-around;
    /* margin-top: 20px; */
    width: 100%;
    height: 611px;
  }

  .card-link {
    display: block;
    overflow: hidden;
    position: relative;
    width: 233px;
    /* Defina o tamanho do card conforme necessário */
    height: 283px;
    /* Defina o tamanho do card conforme necessário */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin-top: 5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .patrocinio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 252px;
    margin-top: 5em;
  }

 
  .imgDesk{
    display:flex;
  
  }
  
  .imgMb{
    display:none;

}}